/* app css stylesheet */

td.rule_name {
  height: 1em;
  vertical-align:bottom;
}

div.nabla {
  text-align:center;
  padding-left: 1em;
}

td.judgement {
  height: 1em;
  text-align:center;
  vertical-align:bottom;
  border-top: solid 1px;
}

div.judgement {
  height: 1em;
  text-align:center;
  vertical-align:bottom;
  border-top: solid 1px;
  white-space: nowrap;
}

div.rule_name {
  height: 1em;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  text-align: left;
  margin-top:-0.6em;
  padding-right: 20px
}

div.proof {
  padding: 2px 4px;
  text-align: center;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

}

div.inner {
  padding: 10px 10px;
  display: inline-block;
}

div.spacer {
  height: 50px;
}

div.smallspacer {
  height: 20px;
}

label.pad_left_right {
  padding-right: 5px;
  padding-left: 10px;
}

.pad_left {
  padding-left: 10px;
}