logger "" {
  level  = debug;
  filter = all;
  layout = simple;
  mode   = direct;
  output = file;
  name   = "log/debug.txt";
}

logger "" {
  level  = trace;
  filter = all;
  layout = simple;
  mode   = direct;
  output = file;
  name   = "log/trace.txt";
}

logger "" {
  level  = info;
  filter = all;
  layout = simple;
  mode   = direct;
  output = file;
  name   = "log/info.txt";
}