<div class="spacer"></div>

<h1>Define public key encryption scheme</h1>

<div ng-controller="Start">
<form novalidate class="form-horizontal">

  <div class="control-group">
    <label class="control-label">Load</label>
    <div class="controls">
      <select ng_model="selected" ng-change="fillIn()" autofocus>
        <option ng-repeat="(name,_) in predefined_schemes">{{name}}</option>
      </select>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text" ng-model="scheme.name">
    </div>
  </div>
  
  <div class="control-group" ng-class="{'error' : err.msg_decl}">
    <label class="control-label">Message type</label>
    <div class="controls">
      <input type="text" ng-model="scheme.msg_decl">
      <span>Sum of type variables ki, e.g., <code>k1 + k2</code></span>
      <div ng-show="err.msg_decl">
        <span class="help-inline" ng-show="err.msg_decl">{{err.msg_decl}}</span>
      </div>
    </div>
  </div>

  <div class="control-group" ng-class="{'error' : err.rvar_decls}">
    <label class="control-label">Random variables</label>
    <div class="controls">
      <textarea type="text" ng-model="scheme.rvar_decls" cols="3"></textarea>
      <span>Name and type of random variable, e.g., <code>r1 : k2; r2 : k3 + k4</code></span>
      <div ng-show="err.rvar_decls">
        <span class="help-inline" ng-show="err.rvar_decls">{{err.rvar_decls}}</span>
      </div>
    </div>
  </div>

  <div class="control-group" ng-class="{'error' : err.hash_decls}">
    <label class="control-label">Hash functions</label>
    <div class="controls">
      <textarea type="text" ng-model="scheme.hash_decls" cols="3"></textarea> 
      <span>Name and type of hash functions, e.g., <code>H : k1 -> k2; G : k3 + k4 -> k4</code></span>
      <div ng-show="err.hash_decls">
        <span class="help-inline" ng-show="err.hash_decls">{{err.hash_decls}}</span>
      </div>
    </div>
  </div>

  <div class="control-group" ng-class="{'error' : err.perm_decls}">
    <label class="control-label">Trapdor permutations</label>
    <div class="controls">
      <textarea type="text" ng-model="scheme.perm_decls" cols="3"></textarea> 
      <span>Name and type of trapdoor permutations, e.g., <code>f : k1</code></span>
      <div ng-show="err.perm_decls">
        <span class="help-inline" ng-show="err.perm_decls">{{err.perm_decls}}</span>
      </div>
    </div>
  </div>

  <div class="control-group" ng-class="{'error' : err.cipher}">
    <label class="control-label">Cipher</label>
    <div class="controls">
      <textarea type="text" ng-model="scheme.cipher" cols="2"></textarea> 
      <span>Cipher expression, e.g., <code>f(r) | G(r) + m_b</code></span>
      <div ng-show="err.cipher">
        <span class="help-inline" ng-show="err.cipher">{{err.cipher}}</span>
      </div>
    </div>
  </div>


  <div class="control-group">
    <div class="controls">
        <button ng-click="prove()">Prove</button>
    </div>
  </div>
</form>
</div>
